<Type Name="Menu" FullName="Android.Views.Menu">
  <TypeSignature Language="C#" Value="public abstract class Menu : Java.Lang.Object" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi abstract beforefieldinit Menu extends Java.Lang.Object" />
  <TypeSignature Language="DocId" Value="T:Android.Views.Menu" />
  <TypeSignature Language="F#" Value="type Menu = class&#xA;    inherit Object" />
  <AssemblyInfo>
    <AssemblyName>Mono.Android</AssemblyName>
    <AssemblyVersion>0.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>Java.Lang.Object</BaseTypeName>
    <BaseTypeName FrameworkAlternate="xamarin-android">Java.Lang.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Attributes>
    <Attribute>
      <AttributeName>Android.Runtime.Register("android/view/Menu", DoNotGenerateAcw=true)</AttributeName>
    </Attribute>
    <Attribute>
      <AttributeName>System.Obsolete("Use the 'Android.Views.IMenu' type. This class will be removed in a future release.")</AttributeName>
    </Attribute>
  </Attributes>
  <Docs since="1">
    <summary>Interface for managing the items in a menu.</summary>
    <remarks>
      <para>
        <format type="text/html">
          <a href="https://developer.android.com/reference/android/view/Menu" title="Reference documentation">Android platform documentation</a>
        </format>
      </para>
      <para>Portions of this page are modifications based on work created and shared by the <format type="text/html"><a href="https://developers.google.com/terms/site-policies" title="Android Open Source Project">Android Open Source Project</a></format> and used according to terms described in the <format type="text/html"><a href="https://creativecommons.org/licenses/by/2.5/" title="Creative Commons 2.5 Attribution License">Creative Commons 2.5 Attribution License.</a></format></para>
    </remarks>
    <since version="Added in API level 1" />
  </Docs>
  <Members>
    <Member MemberName="First">
      <MemberSignature Language="C#" Value="public const int First = 1;" />
      <MemberSignature Language="ILAsm" Value=".field public static literal int32 First = (1)" />
      <MemberSignature Language="DocId" Value="F:Android.Views.Menu.First" />
      <MemberSignature Language="F#" Value="val mutable First : int" Usage="Android.Views.Menu.First" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
        <AssemblyName>Mono.Android</AssemblyName>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Android.Runtime.Register("FIRST")</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>System.Obsolete("Use 'Android.Views.IMenu.First'. This class will be removed in a future release.")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <MemberValue>1</MemberValue>
      <Docs>
        <summary>First value for group and item identifier integers.</summary>
        <remarks>
          <para>
            <format type="text/html">
              <a href="https://developer.android.com/reference/android/view/Menu#FIRST" title="Reference documentation">Java documentation for <code>android.view.Menu.FIRST</code>.</a>
            </format>
          </para>
          <para>
                    Portions of this page are modifications based on work created and shared by the 
                    <format type="text/html"><a href="https://developers.google.com/terms/site-policies" title="Android Open Source Project">Android Open Source Project</a></format>
                     and used according to terms described in the 
                    <format type="text/html"><a href="https://creativecommons.org/licenses/by/2.5/" title="Creative Commons 2.5 Attribution License">Creative Commons 2.5 Attribution License.</a></format></para>
        </remarks>
        <since version="Added in API level 1" />
      </Docs>
    </Member>
    <Member MemberName="None">
      <MemberSignature Language="C#" Value="public const int None = 0;" />
      <MemberSignature Language="ILAsm" Value=".field public static literal int32 None = (0)" />
      <MemberSignature Language="DocId" Value="F:Android.Views.Menu.None" />
      <MemberSignature Language="F#" Value="val mutable None : int" Usage="Android.Views.Menu.None" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
        <AssemblyName>Mono.Android</AssemblyName>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Android.Runtime.Register("NONE")</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>System.Obsolete("Use 'Android.Views.IMenu.None'. This class will be removed in a future release.")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <MemberValue>0</MemberValue>
      <Docs>
        <summary>Value to use for group and item identifier integers when you don't care
            about them.</summary>
        <remarks>
          <para>
            <format type="text/html">
              <a href="https://developer.android.com/reference/android/view/Menu#NONE" title="Reference documentation">Java documentation for <code>android.view.Menu.NONE</code>.</a>
            </format>
          </para>
          <para>
                    Portions of this page are modifications based on work created and shared by the 
                    <format type="text/html"><a href="https://developers.google.com/terms/site-policies" title="Android Open Source Project">Android Open Source Project</a></format>
                     and used according to terms described in the 
                    <format type="text/html"><a href="https://creativecommons.org/licenses/by/2.5/" title="Creative Commons 2.5 Attribution License">Creative Commons 2.5 Attribution License.</a></format></para>
        </remarks>
        <since version="Added in API level 1" />
      </Docs>
    </Member>
    <Member MemberName="SupportedModifiersMask">
      <MemberSignature Language="C#" Value="public const int SupportedModifiersMask = 69647;" />
      <MemberSignature Language="ILAsm" Value=".field public static literal int32 SupportedModifiersMask = (69647)" />
      <MemberSignature Language="DocId" Value="F:Android.Views.Menu.SupportedModifiersMask" />
      <MemberSignature Language="F#" Value="val mutable SupportedModifiersMask : int" Usage="Android.Views.Menu.SupportedModifiersMask" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyName>Mono.Android</AssemblyName>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Android.Runtime.Register("SUPPORTED_MODIFIERS_MASK", ApiSince=26)</AttributeName>
        </Attribute>
        <Attribute>
          <AttributeName>System.Obsolete("Use 'Android.Views.IMenu.SupportedModifiersMask'. This class will be removed in a future release.")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <MemberValue>69647</MemberValue>
      <Docs>
        <summary>A mask of all supported modifiers for MenuItem's keyboard shortcuts</summary>
        <remarks>
          <para>
            <format type="text/html">
              <a href="https://developer.android.com/reference/android/view/Menu#SUPPORTED_MODIFIERS_MASK" title="Reference documentation">Java documentation for <code>android.view.Menu.SUPPORTED_MODIFIERS_MASK</code>.</a>
            </format>
          </para>
          <para>
                    Portions of this page are modifications based on work created and shared by the 
                    <format type="text/html"><a href="https://developers.google.com/terms/site-policies" title="Android Open Source Project">Android Open Source Project</a></format>
                     and used according to terms described in the 
                    <format type="text/html"><a href="https://creativecommons.org/licenses/by/2.5/" title="Creative Commons 2.5 Attribution License">Creative Commons 2.5 Attribution License.</a></format></para>
        </remarks>
      </Docs>
    </Member>
  </Members>
</Type>
