<Type Name="Menu" FullName="Android.Views.Menu">
  <TypeSignature Language="C#" Value="public abstract class Menu" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi abstract beforefieldinit Menu extends System.Object" />
  <AssemblyInfo>
    <AssemblyName>Mono.Android</AssemblyName>
    <AssemblyVersion>0.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Attributes>
    <Attribute>
      <AttributeName>Android.Runtime.Register("android/view/Menu")</AttributeName>
    </Attribute>
  </Attributes>
  <Docs since="1">
    <summary>Interface for managing the items in a menu.</summary>
    <remarks>
      <para tool="javadoc-to-mdoc">Interface for managing the items in a menu.
 </para>
      <para tool="javadoc-to-mdoc">
 By default, every Activity supports an options menu of actions or options.
 You can add items to this menu and handle clicks on your additions. The
 easiest way of adding menu items is inflating an XML file into the
 <c><see cref="T:Android.Views.Menu" /></c> via <c><see cref="T:Android.Views.MenuInflater" /></c>. The easiest way of attaching code to
 clicks is via <c><see cref="M:Android.App.Activity.OnOptionsItemSelected(Android.Views.IMenuItem)" /></c> and
 <c><see cref="M:Android.App.Activity.OnContextItemSelected(Android.Views.IMenuItem)" /></c>.
 </para>
      <para tool="javadoc-to-mdoc">
 Different menu types support different features:
 <list type="number"><item><term><format type="text/html"><b>Context menus</b></format>: Do not support item shortcuts and item icons.
 </term></item><item><term><format type="text/html"><b>Options menus</b></format>: The <format type="text/html"><b>icon menus</b></format> do not support item check
 marks and only show the item's
 <c><see cref="M:Android.Views.IMenuItem.SetTitleCondensed(Java.Lang.ICharSequence)" /></c>. The
 <format type="text/html"><b>expanded menus</b></format> (only available if six or more menu items are visible,
 reached via the 'More' item in the icon menu) do not show item icons, and
 item check marks are discouraged.
 </term></item><item><term><format type="text/html"><b>Sub menus</b></format>: Do not support item icons, or nested sub menus.
 </term></item></list><format type="text/html"><h3>Developer Guides</h3></format></para>
      <para tool="javadoc-to-mdoc">For more information about creating menus, read the
 <format type="text/html"><a href="http://developer.android.com/reference/../guide/topics/ui/menus.html">Menus</a></format> developer guide.</para>
      <para tool="javadoc-to-mdoc">
        <format type="text/html">
          <a href="http://developer.android.com/reference/android/view/Menu.html" target="_blank">[Android Documentation]</a>
        </format>
      </para>
    </remarks>
    <since version="Added in API level 1" />
  </Docs>
  <Members>
    <Member MemberName="First">
      <MemberSignature Language="C#" Value="public const int First = 1;" />
      <MemberSignature Language="ILAsm" Value=".field public static literal int32 First = (1)" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Android.Runtime.Register("FIRST")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <MemberValue>1</MemberValue>
      <Docs>
        <summary>First value for group and item identifier integers.</summary>
        <remarks>
          <para tool="javadoc-to-mdoc">First value for group and item identifier integers.
</para>
          <para tool="javadoc-to-mdoc">
            <format type="text/html">
              <a href="http://developer.android.com/reference/android/view/Menu.html#FIRST" target="_blank">[Android Documentation]</a>
            </format>
          </para>
        </remarks>
        <since version="Added in API level 1" />
      </Docs>
    </Member>
    <Member MemberName="None">
      <MemberSignature Language="C#" Value="public const int None = 0;" />
      <MemberSignature Language="ILAsm" Value=".field public static literal int32 None = (0)" />
      <MemberType>Field</MemberType>
      <AssemblyInfo>
        <AssemblyVersion>0.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Attributes>
        <Attribute>
          <AttributeName>Android.Runtime.Register("NONE")</AttributeName>
        </Attribute>
      </Attributes>
      <ReturnValue>
        <ReturnType>System.Int32</ReturnType>
      </ReturnValue>
      <MemberValue>0</MemberValue>
      <Docs>
        <summary>Value to use for group and item identifier integers when you don't care
 about them.</summary>
        <remarks>
          <para tool="javadoc-to-mdoc">Value to use for group and item identifier integers when you don't care
 about them.
</para>
          <para tool="javadoc-to-mdoc">
            <format type="text/html">
              <a href="http://developer.android.com/reference/android/view/Menu.html#NONE" target="_blank">[Android Documentation]</a>
            </format>
          </para>
        </remarks>
        <since version="Added in API level 1" />
      </Docs>
    </Member>
  </Members>
</Type>